@import "../../assets/styles/variables.scss";

.header {
  height: 120px;
  padding: 8px;
  font-size: 1rem;
  &__logo {
    width: 170px;
    height: 110px;
    border-radius: 50%;
    background-color: $white;
    position: relative;
  }
  &__logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: map-get($slate, 24);
    text-shadow: 0.2px 0.2px;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: monospace;
  }
  &__divider {
    flex: 1 1 auto;
  }
}
.active {
  color: #232f34;
  font-size: 1.1rem !important;
}

:host {
  ::ng-deep {
    .mat-button {
      font-size: 0.9rem;
    }
    .mat-icon {
      height: 18px;
      width: 23px;
    }
    .material-icons {
      line-height: 0.8;
    }
  }
}
