.add-recipient {
  height: 100%;
  width: 100%;
  position: relative;
  &__form-feilds {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
  &__mat-form-width {
    width: 350px;
  }
  &__close-icon {
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
  }
  &__account-number {
    cursor: pointer;
    width: fit-content;
  }
}

:host {
  ::ng-deep {
    .mat-card-subtitle {
      margin-bottom: 0px !important;
    }
  }
}
